{% extends "layout.html" %}

{% block content %}

  {% if count > 0 %}
    <p>{{ count }} images. Latest: <strong>{{ latestTimestamp }}</strong>.</p>
  {% else %}
    <p>No images found.</p>   
  {% endif %}
  
  {% if count > 0 %}
  <form action="{{ path('archive-move') }}" method="post">
    <input type="hidden" name="files" value="{{ files }}" />
    <input type="hidden" name="sideFiles" value="{{ sideFiles }}" />
    <button type="submit" name="submit" class="btn btn-primary btn-sm">Archive images</button>
  </form>
  {% endif %}

  <div id="thumbnails">
  {% for image in images %}
    <div class="thumbnail">
      <a href="/images/{{ image.url }}">
      {% if hasLazyImageLoading %}
        <img data-src="{{ app.url_generator.generate('thumbnail', {file: image.internalUrl}) }}" src="/img/blank.png" alt="{{ image.url }}">
      {% else %}
        <img src="{{ app.url_generator.generate('thumbnail', {file: image.internalUrl}) }}" alt="{{ image.url }}">
      {% endif %}
      </a>
      <div class="caption">{{ image.timestamp }}</div>
    </div>
  {% endfor %}
  </div>

{% endblock %}
