<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="mobile-web-app-capable" content="yes">

      <title>Surveillance Motion Detection Viewer</title>

      <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
      <link href="{{ app.request.basepath }}/css/styles.css" rel="stylesheet">
    </head>
    <body>

      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('homepage') }}">Motion Detection Viewer</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              {% for subfolder in subfolders %}
                <li><a href="?folder={{ subfolder.path }}">{{ subfolder.label }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>

      <!-- begin: container -->
      <div class="container">
        {% block content %}{% endblock %}
      </div>
      <!-- end: container -->

      <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
      <script src="{{ app.request.basepath }}/js/jquery.unveil.js"></script>
      {% if hasLazyImageLoading %}
        <script src="{{ app.request.basepath }}/js/general.js"></script>
      {% endif %}
    </body>
</html>
